
.icon-cog-outline:before { content: '\e800'; } /* '' */
.icon-vcard:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-connectdevelop:before { content: '\f20e'; } /* '' */
.icon-medium:before { content: '\f23a'; } /* '' */
.icon-calendar:before { content: '\f4c5'; } /* '' */